{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="register-bg">
    <div class="container-opac container">
        <div class="register-content">
        <form action="" method="post">
            {% csrf_token %}
            <h2 class="acme center blue-text register-title">
                Join us now!!..
            </h2>
            {{ form|crispy }}
            <button class="btn-flat white-text blue accent-4 waves-effect waves-light" type="submit" name="action">Register<i class="material-icons right">send</i></button>
        </form>
        </div>
    </div>
</div>

{% endblock %}